.icon-block {
  padding: 0 15px;
}

.chase-image{
  width: 15em;
  height: 15em;
  margin-right: auto;
  margin-left: auto;
}

a h5:hover{
  opacity: 0.8;
}

.brand-logo{
  margin-left: 0.5em;
  transform: rotate(-5deg);
}

#top-bar{
  background-image: url("../images/spacey.jpg");
}

#top-bar.clicked{
  background-image: none;
}

#index-banner{
  z-index: 2;
}

h1:hover{
  cursor: pointer;
  transform: rotate(5deg);
  /*transition: 0.4s;*/
}

h1{
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}

#mobile-demo{
  /*background-color: #E7E6E6;*/
  background-image: url("../images/spacey.jpg");
}

.row h2{
  text-align: center;
}

@media only screen and (max-width: 1210px) {
  .radio-video{display: none;}
  .buzz-free-photo{display: none;}
  #work-experience iframe{display: none;}
}

@media only screen and (max-width: 800px) {
  .brand-logo{display: none;}
}

@media only screen and (min-width: 993px) {
  #burger{display: none;}
}

#work-experience{
  display: none;
}

#skills{
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

#work{
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

table {
    border-collapse: collapse;
}

caption{
  color: #43738A;
}

th{
  text-decoration: bold;
  color: #75AABA;
}

td, th{
  text-align: center;
  vertical-align: center;
  padding: 1em;
}

#skills td,th{
  padding-right: 3em;
  padding-left: 3em;
}

#spinner{
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
}

#spinner:hover{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
#chase_rogers{
  transform: rotate(-5deg);
  /*text-shadow: 1px 1px 1px #ccc;*/
}

#experience-button a{
  color: white;
}

#experience-button:hover{
  /*transform: scale(1.03,1.03);*/
  opacity: 0.9;
  background-color: #D49B7D;
}

nav {
  color: #fff;
  background-color: #32586F;
}

.btn-large{
  background-color: firebrick;
}

strong{
  color: #D49B7D;
}

nav .nav-wrapper li i:hover{
  transform: rotate(-15deg);
}

nav .nav-wrapper li i{
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  /*text-shadow: 1px 1px 1px #ccc;*/
}

#job-title{
  color: #ffff;
}

a h5{
  color: #D49B7D;
}

#burger{
  margin-left: 1em;
}

.footer-copyright{
  background-color: #32586F;
  margin: 0;
}

.page-footer{
  margin-top: 0;
  background-image: url("../images/spacey.jpg");
}

#work-experience iframe{
  width: 90%;
  margin-left: 2em;
  height: 1100px;
}

#resume-link{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#resume-link a{
  font-size: 2.5em;
  color: #D49B7D;
}

#resume-link a:hover{
  opacity: 0.8;
}


