.icon-block {
  padding: 0 15px;
}

.chase-image{
  width: 15em;
  height: 15em;
  margin-right: auto;
  margin-left: auto;
}

.brand-logo{
  margin-left: 0.5em;
  transform: rotate(-5deg);
}

#top-bar{
  background-image: url("../images/spacey.jpg");
}

@media only screen and (max-width: 1210px) {
  .radio-video{display: none;}
  .buzz-free-photo{display: none;}
  #work-experience iframe{display: none;}
}

@media only screen and (max-width: 800px) {
  .brand-logo{display: none;}
}

@media only screen and (min-width: 993px) {
  #burger{display: none;}
}

#spinner{
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
}

#spinner:hover{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

#experience-button a{
  color: white;
}

#experience-button:hover{
  opacity: 0.7;
  background-color: firebrick;
}

nav {
  color: #fff;
  background-color: #32586F;
}

.btn-large{
  background-color: firebrick;
}

nav .nav-wrapper li i:hover{
  transform: rotate(-15deg);
  color: #FFE900;
}

nav .nav-wrapper li i{
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
}

#job-title{
  color: #ffff;
}

#burger{
  margin-left: 1em;
}

.footer-copyright{
  background-color: #32586F;
  margin: 0;
}

.page-footer{
  margin-top: 0;
  background-image: url("../images/spacey.jpg");
}

#resume-link{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#resume-link a{
  font-size: 2.5em;
  color: #D49B7D;
}

#resume-link a:hover{
  opacity: 0.8;
}


