html{
  font-family: 'Gloria Hallelujah', cursive;
}

.nav{
  color: black;
  list-style-type: none;
  width: 50em;
  display: absolute;
  padding-left: 10%;
  padding-right: 20%;
  border-bottom: solid 0.05em black;
}
.nav li{
  display: inline;
  text-align: center;
  width: 100;
  padding-left: 18%;
}
a{
  color: black;
  list-style-type: none;
  font-style: none;
  text-decoration: none;
}
a:hover{
  transform: scale(1.2,1.2);
  color: #90B9F7;
}
ul{
  padding-right: 30%;
  padding-left: 30%;
}
ul li{
  text-align: center;
  display: inline-block;
  padding-left: 5%;
  /*transform: rotate(-45deg);*/
}
ul a:hover img{
  transform: rotate(-40deg);
}
.header_img{
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
}
section{
  display: block;
  width: 100%;
  margin-bottom: 3%;
  text-align: center;
  /*padding-bottom: 3%;*/

}
footer{
  bottom: 0;
  left: 0;
  height: 8%;
  text-align: center;
  border-top: solid 0.05em black;
}