#blog_post {
  width: 75%;
  margin-left: 5px;
  float: right;
  display: block;
  height: 600px;
  border: solid 1px;
  padding-left: 5px;
  padding-right: 5px;
}
.left_box {
  height: 140px;
  width: 23%;
  margin-bottom: 10px;
  display: block;
  margin-right: 5px;
  border: solid 1px;
  text-align: center;

}

#blog_table {
  /*display: block;*/
  margin-bottom: 15px;
  width: 100%;
}

#footer {
  width: 100%;
  float: right;
  display: block;
  height: 50px;
  border: solid 1px;
  text-align: center;
}
tr {
  width: 100%;
}
td {
  border: solid 1px;
  padding-bottom: 10px;
  padding: 2px 20px 2px 20px;
  display: block-inline;
  width: 320px;
  text-align: center;
}
a :visited{
  color: orange;
}
